<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>

<h1>What's up with it vanilla face?</h1>
<div>
  <h2> Where you at dawg? </h2>
    <% javascript_include_tag 'determine_location' %>
    <div id="map_canvas"></div>
</div>
