<h1>n00bz<h1>
  <% if @players %>
    <% @players.each do |player| %>
      <img src=<%= player.avatar %> />
      <a href=<%= "http://www.tf2items.com/profiles/#{player.steam_id}" %>>
        <%= player.name %>
      </a>
      <br />
    <% end %>
  <% end %>
  <br />
<%= button_to "find some n00bz", :action => "create" %>
