$black: #000000;
$white: #FFFFFF;
$light-grey: #C0C0C0;
$dark-grey: #808080;

body {
  margin: 0;
  padding: 0;
  background-color: $black;
  font-family: "ComiciSans", cursive, sans-serif; 
  font-size: 14px; 
  color: $white;
}

.navbar {
  list-style:none;
  overflow: hidden;
  font-family: "Helvetica", Arial, Sans-Serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  background-color: $light-grey;
  text-align: center;
}

.navbar li {
  display: inline;
  padding: 10px;
  border-right: 1px solid $black;
  border-left: 1px solid $black;
  margin-left: -1px;
}

.navbar li a:hover{
 
  background-color: $dark-grey;
  color: $white;
}
