<%= form_for(@location) do |f| %>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_feild :zip %>
  </div>
  <div class="actions">
    <%= f.submit "Go fuck yourself" %>
  </div>
<% end %>
